# Configuration de la base de données
DB_HOST=localhost
DB_PORT=3306
DB_NAME=votre_nom_bdd
DB_USER=votre_utilisateur
DB_PASS=votre_mot_de_passe

# Sécurité (pour GestionnaireAuth.php par exemple)
APP_SECRET=un_code_tres_long_et_aleatoire
APP_DEBUG=true

# Chemins (si besoin pour MoteurRoutage.php)
BASE_URL=http://localhost/BE-projet/public
